    body{
            margin: 0px;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            background-image: url('Sirius-Star.jpg');
            background-size: cover;
        }
        .container{
            font-size: 10px;
            height: 50em;
            width: 50em;
            position: relative;
        }
        .sun{
            position: absolute;
            top: 15em;
            left: 15em;
            height: 10em;
            width: 10em;
            background-color: yellow;
            border-radius: 50%;
            box-shadow: 0 0 3em white;
        }
        .earth, .moon{
            position: absolute;
            border-style: solid;
            border-color: white transparent transparent transparent;
            border-width: 0.1em 0.1em 0 0;
            border-radius: 50%;
            
        }
        .earth{
            top: 5em;
            left: 5em;
            width: 30em;
            height: 30em;
            animation: orbit 30.5s linear infinite;
        }
        .moon{
            top: 0;
            right: 0;
            width: 8em;
            height: 8em;
            animation: orbit 2.7s linear infinite;

        }
        .earth::before,.moon::before{
            content: '';
            position: absolute;
            border-radius: 50%;
        }
        .earth::before{
            top: 2.8em;
            right: 2.8em;
            width: 3em;
            height: 3em;
            background-color: rgb(95, 160, 199);
        }
        .moon::before{
            top: 0.8em;
            right: 0.2em;
            width: 1.2em;
            height: 1.2em;
            background-color: silver;
        }
        @keyframes orbit {
            to{
                transform: rotate(360deg);
            }
            
        }
        .jupiter{
            position: absolute;
            border-style: solid;
            border-color: white transparent transparent transparent;
            border-width: 0.1em 0.1em 0 0;
            border-radius: 50%;
            top: 10em;
            left: 10em;
            width: 40em;
            height: 40em;
            animation: orbit 50.5s linear infinite;
        }
        .jupiter::before{
            top: 2.8em;
            right: 2.8em;
            width: 5em;
            height: 5em;
            background-color: rgb(99, 114, 114);
            content: '';
            position: absolute;
            border-radius: 50%;
        }
        .marsh{
            position: absolute;
            border-style: solid;
            border-color: white transparent transparent transparent;
            border-width: 0.1em 0.1em 0 0;
            border-radius: 50%;
            top: 5em;
            left: 5em;
            width: 35em;
            height: 35em;
            animation: orbit 40.5s linear infinite;
        }
        .marsh::before{
            top: 2.8em;
            right: 2.8em;
            width: 3em;
            height: 3em;
            background-color: #796262;
            content: '';
            position: absolute;
            border-radius: 50%;
        }
        .venus{
            position: absolute;
            border-style: solid;
            border-color: white transparent transparent transparent;
            border-width: 0.1em 0.1em 0 0;
            border-radius: 50%;
            top: 3em;
            left: 3em;
            width: 25em;
            height: 25em;
            animation: orbit 19.5s linear infinite;
        }
        .venus::before{
            top: 2.8em;
            right: 2.8em;
            width: 2em;
            height: 2em;
            background-color: #711818;
            content: '';
            position: absolute;
            border-radius: 50%;
        }
        h1{
            color: beige;
            text-transform: uppercase;
            font-family: verdana;
        }
        p{
            color: aliceblue;
            text-transform: capitalize;
        }
